<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Feedback</title>
        {% load static %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'meeting_room_booking/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'meeting_room_booking/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'meeting_room_booking/css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'meeting_room_booking/css/light-box.css' %}">
        <link rel="stylesheet" href="{% static 'meeting_room_booking/css/index.css' %}">
        <link href="{% static 'meeting_room_booking/css/wickedpicker.css' %}" rel="stylesheet" type='text/css' media="all" />
        <link rel="stylesheet" href="{% static 'meeting_room_booking/css/jquery-ui.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        		function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href="{% static 'meeting_room_booking/css/feedback.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

        <script src="{% static 'meeting_room_booking/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    	  <style type="text/css">
      .text1{
    font-size: 15px;
    color: #fff;
    letter-spacing:3px;
    padding: 3%;
    padding-top: 25%;
}
nav .logo {
    margin-top: 15px;
    padding-top: 0px;
    padding-bottom: 25px;
}

nav .logo img {
    max-width: 90%;
    overflow-y: hidden;
}
    </style>
    </head>

<body>

    <div class="sequence">

      <div class="seq-preloader">
        <svg width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg" class="seq-preload-indicator"><g fill="#F96D38"><path class="seq-preload-circle seq-preload-circle-1" d="M3.999 12.012c2.209 0 3.999-1.791 3.999-3.999s-1.79-3.999-3.999-3.999-3.999 1.791-3.999 3.999 1.79 3.999 3.999 3.999z"/><path class="seq-preload-circle seq-preload-circle-2" d="M15.996 13.468c3.018 0 5.465-2.447 5.465-5.466 0-3.018-2.447-5.465-5.465-5.465-3.019 0-5.466 2.447-5.466 5.465 0 3.019 2.447 5.466 5.466 5.466z"/><path class="seq-preload-circle seq-preload-circle-3" d="M31.322 15.334c4.049 0 7.332-3.282 7.332-7.332 0-4.049-3.282-7.332-7.332-7.332s-7.332 3.283-7.332 7.332c0 4.05 3.283 7.332 7.332 7.332z"/></g></svg>
      </div>

    </div>


        <nav>
          <div class="logo">
              <img src="{% static 'meeting_room_booking/img/logo.png' %}" alt="">
          </div>
           <ul>
            <li><a href="/toHome"><i class="fa fa-home"></i> <em>Home</em></a></li>
            <li><a href="/toBook"><i class="fa fa-user"></i> <em>Book A Room</em></a></li>
            <li><a href="/myBook" ><i class="fa fa-pencil"></i> <em>My Bookings</em></a></li>
            <li><a href="/toCancel"><i class="fa fa-image"></i> <em>Cancel Booking</em></a></li>
            <li><a href="#5"><i class="fa fa-envelope"></i> <em>Log Out</em></a></li>
          </ul>
        </nav>

        <div class="slides">

        <div class="slide" id="2">
          <div class="content first-content">
          <div class="container-fluid">
            <h2> Feedback</h2>
    	  <h3 style="color:#808080;">Please help us to serve you better by taking a couple of minutes. </h3>
    	    <form action="#" method="post" class="agile_form">
    		  <h2>How satisfied were you with our Product/Service?</h2>
    			 <ul class="agile_info_select">
    				 <li><input type="radio" name="view" id="excellent">
    				 	  <label for="excellent">excellent</label>
    				      <div class="check w3"></div>
    				 </li>
    				 <li><input type="radio" name="view" id="good" checked="checked">
    					  <label for="good"> good</label>
    				      <div class="check w3ls"></div>
    				 </li>
    				 <li><input type="radio" name="view" id="neutral">
    					 <label for="neutral">neutral</label>
    				     <div class="check wthree"></div>
    				 </li>
    				 <li><input type="radio" name="view" id="poor">
    					  <label for="poor">poor</label>
    				      <div class="check w3_agileits"></div>
    				 </li>
    			 </ul>
    			<h2>If you have specific feedback, please write to us...</h2>
    			<textarea placeholder="Additional comments" class="w3l_summary"  required=""></textarea>
    			<input type="text" placeholder="Your Name" name="name" required="" />
    			<input type="email" placeholder="Your Email" name="email" required=""/>
          <div class="btnn" align="center">
              <input type="submit" value="Send">
          </div>

    	  </form>
    	</div>
</div>
</div>

        </div>
        </div>
        </div>
        </div>
          </div>



        <div class="footer">
          <div class="content">
            <p> <a href="/toAbout"> About Us </a> | <a href="/toFAQ">FAQ</a> | <a href="/toContact" > <i class="fa fa-envelope"></i> Contact Us</a> | <a href="/tofeedback> Feedback </a>  </p>
          </div>
        </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'meeting_room_booking/js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>


    <script src="{% static 'meeting_room_booking/js/vendor/bootstrap.min.js"></script>

    <script src="{% static 'meeting_room_booking/js/datepicker.js' %}"></script>
    <script src="{% static 'meeting_room_booking/js/plugins.js' %}"></script>
    <script src="{% static 'meeting_room_booking/js/main.js' %}"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {



        // navigation click actions
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    </script>
    <!-- Calendar -->
    <script src="js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
        });
    </script>
    <!-- //Calendar -->
    <!-- Time -->
    <script type="text/javascript" src="js/wickedpicker.js"></script>
    <script type="text/javascript">
        $('.timepicker,.timepicker1').wickedpicker({ twentyFour: false });
    </script>
</body>
</html>
